@* <h2>Manage your account</h2>
  <div>
      <h4>Change your account settings</h4>
      <hr />
      <div class="row">
          <div class="col-md-3">
              <ul class="nav nav-pills flex-column">
      <li class="nav-item"><a class="nav-link active" id="profile" href="/Identity/Account/Manage">Profile</a></li>
      <li class="nav-item"><a class="nav-link" id="email" href="/Identity/Account/Manage/Email">Email</a></li>
      <li class="nav-item"><a class="nav-link" id="change-password" href="/Identity/Account/Manage/ChangePassword">Password</a></li>
      <li class="nav-item"><a class="nav-link" id="two-factor" href="/Identity/Account/Manage/TwoFactorAuthentication">Two-factor authentication</a></li>
      <li class="nav-item"><a class="nav-link" id="personal-data" href="/Identity/Account/Manage/PersonalData">Personal data</a></li>
  </ul>
  </div> *@
    @* <h4>Profile</h4> *@
    @* <div class="row">
        <div class="col-md-6">
            <form id="profile-form" method="post">
                <div class="text-danger validation-summary-valid" data-valmsg-summary="true"><ul><li style="display:none"></li>
                  </ul></div>
                <div class="form-group">
                    <label for="Username">Username</label>
                    <input class="form-control" disabled type="text" id="Username" name="Username" value="pmtalijr@gmail.com" />
                </div>
                <div class="form-group">
                    <label for="Input_PhoneNumber">Phone number</label>
                    <input class="form-control" type="tel" data-val="true" data-val-phone="The Phone number field is not a valid phone number." id="Input_PhoneNumber" name="Input.PhoneNumber" value="" />
                    <span class="text-danger field-validation-valid" data-valmsg-for="Input.PhoneNumber" data-valmsg-replace="true"></span>
                </div>
                <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
            <input name="__RequestVerificationToken" type="hidden" value="CfDJ8AnFEzafMP5NpEneqfS3_1SSGASEy8zKj34kX6200eIGB3jjXu5Sod-c7Um2nJZTwTOs3N_HB4pcT9hapEa-PnnL3MBsouOUCEeW0mjI4hRZTn7AZ43tb-UIxHcWHzZqd04_axVB1wrS9ANqUl7FTcR_ocq3icEv2GEPFdV-7-vSp2Em8REzM7Dd8lpGeOC0pg" /></form>
        </div>
    </div> *@